<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Body --}}
  <section class="sheet-body grid grid-3col">

  {{!-- Name, Descriptions and Image Header --}}

    <div class="grid-start-span2">
      <div class="grid grid-2col">
          <div>
              <img src="systems/dead-air/assets/dead-air-logo.png" height="95" width="177"/>
          </div>
          <div>
              <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
              <select name="system.archetypes.archetype1" id="archetype1" value="system.archetypes.archetype1">
                  {{selectOptions system.archetypedata selected=system.archetypes.archetype1}}
              </select>
              <select name="system.archetypes.archetype2" id="archetype2" value="system.archetypes.archetype2">
                  {{selectOptions system.archetypedata selected=system.archetypes.archetype2}}
              </select>
          </div>
      </div>
      <label class="charname"><a class="item-control data-chat" title="Chat" data-type="yesterday"></a></label>
      <textarea class="description-label" type="text" name="system.description" rows="5" placeholder="Description here">{{system.description}}</textarea>
    </div>

    <div class="flex-group-center">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="180"/>
    </div>

  {{!-- Descriptors and Gifts, Bonds, Survival Instinct span the 2 columns --}}

    <div class="grid-start-span2">
	<h3>Descriptors and Gifts</h3>
        {{#each system.descriptors_gifts as |descript_gift key|}}
            <div class="grid grid-4col">
                <div>
	            <label class="description-label">{{descript_gift.label}}</label>
                </div>
                <div>
                    <input class="description-label grid-span3" name="system.descriptors_gifts.{{@key}}.descriptor" value="{{descript_gift.descriptor}}" placeholder="Descriptor here" size="60">
                </div>
            </div>
            <textarea class="description-label" type="text" name="system.descriptors_gifts.{{@key}}.gift" rows="4" placeholder="Gift here">{{descript_gift.gift}}</textarea>
        {{/each}}

	<h3>Bonds</h3>
	<label class="description-label"></label>
	<textarea class="description-label" type="text" name="system.bonds" rows="4" placeholder="Description here">{{system.bonds}}</textarea>
	<h3>Survival Instinct</h3>
	<label class="description-label"></label>
	<textarea class="description-label" type="text" name="system.instinct" rows="4" placeholder="Description here">{{system.instinct}}</textarea>
    </div>

  {{!-- Soma, PNR, Exp, Attributes, Bonds, Survival Instinct last columns --}}

    <div>
	<h3>Resources</h3> 
        <div class="grid grid-3col flex-group-center">
          <div>
	  <label for="soma" class="resource-label">{{system.trackedresources.soma.label}}</label><br>
          <input class="circleinput" id="soma" type="text" name="system.trackedresources.soma.base" value="{{system.trackedresources.soma.base}}" data-dtype="Number"/><br>
          <span> | </span><br>
          <input class="circleinputdotted" is="soma" type="text" name="system.trackedresources.soma.value" value="{{system.trackedresources.soma.value}}" data-dtype="Number"/>
 	  </div>
	  <div>
          <label for="pointofnoreturn" class="resource-label">{{system.trackedresources.pnr.label}}</label><br>
          <input class="circleinput" type="text" name="system.trackedresources.pnr.base" value="{{system.trackedresources.pnr.base}}" data-dtype="Number"/><br>
          <span> | </span><br>
          <input class="circleinputdotted" type="text" name="system.trackedresources.pnr.value" value="{{system.trackedresources.pnr.value}}" data-dtype="Number"/>
	  </div>
	  <div>
          <label for="experience" class="resource-label">{{system.trackedresources.experience.label}}</label><br>
          <input class="circleinput" type="text" name="system.trackedresources.experience.value" value="{{system.trackedresources.experience.value}}" data-dtype="Number"/>
	  </div>
        </div>

  {{!-- Advantage and Disadvantage Dice last columns --}}

    <div>
	<h3>Advantage and Disadvantage Dice</h3> 
        <div class="grid grid-2col flex-group-center">
            <div>
                <p class="resource-label">Advantage<input name="system.trackedresources.advantagedice" type="text" value="{{system.trackedresources.advantagedice}}"/></p>
            </div>
            <div>
                <p class="resource-label">Disadvantage<input name="system.trackedresources.disadvantagedice" type="text" value="{{system.trackedresources.disadvantagedice}}"/></p>
            </div>
        </div>

  {{!-- Attributes block, loop for each attribute, and number of dots from maximum --}}
	<h3>Attributes</h3> 
          <div class="grid grid-2col">
            {{#each system.attributes as |attribute key|}}
            <div class="ability">
              <label class="resource-label rollable flexlarge align-left" data-roll="yes" data-label="system.attributes.{{attribute.label}}" data-dotclick="yes">{{attribute.label}}</label>
	    </div>
	    <div class="">
                {{#numLoop attribute.max }}
                    <span id="{{attribute.label}}-{{this}}" class="dot clickable" data-index="{{this}}" data-label="system.attributes.{{attribute.label}}" data-dotclick="yes"></span>
                {{/numLoop}}
            </div>
            {{/each}}
          </div>

  {{!-- Wounds counters and labels --}}

	  <h3 align="center">Wounds</h3>
	  <div class="grid grid-4col">
            {{#each system.wounds as |wound key|}}
	    <div>
	        <input name="system.wounds.{{@key}}.checked" type="checkbox" {{checked wound.checked}}/>
	    </div>
  	    <div class="grid-span-3">
                <input class="description-label" name="system.wounds.{{@key}}.description" id="wounds" type="text" value="{{wound.description}}">
	    </div>
            {{/each}}
	  </div>

  {{!-- Scars counters and labels --}}

	  <h3 align="center">Scars</h3>
	  <div class="grid grid-4col">
            {{#each system.scars as |scar key|}}
	    <div>
	        <input name="system.scars.{{@key}}.checked" type="checkbox" {{checked scar.checked}}/>
	    </div>
  	    <div class="grid-span-3">
                <input class="description-label" name="system.scars.{{@key}}.description" id="scars" type="text" value="{{scar.description}}">
	    </div>
            {{/each}}
	  </div>

  {{!-- Iconic Items and labels --}}

	  <h3 align="center">Iconic Items</h3>
	  <div class="grid grid-4col">
            {{#each system.iconics as |iconic key|}}
	    <div>
	        <input name="system.iconics.{{@key}}.checked" type="checkbox" {{checked iconic.checked}}/>
	    </div>
  	    <div class="grid-span-3">
                <input class="description-label" name="system.iconics.{{@key}}.description" id="scars" type="text" value="{{iconic.description}}">
	    </div>
            {{/each}}
	  </div>

  {{!-- Preparation Levels --}}

          <h3 align="center">Preparation Level</h3>

          <div class="grid grid-2col">
            {{#each system.preparation as |prep key|}}
            <div class="ability">
              <label class="resource-label flexlarge align-left" data-label="{{prep.label}}">{{prep.label}}</label>
	    </div>
	    <div class="">
                {{#numLoop prep.max }}
                    <span id="{{prep.label}}-{{this}}" class="dot clickable" data-index="{{this}}" data-label="system.preparation.{{prep.label}}" data-dotclick="yes"></span>
                {{/numLoop}}
            </div>
            {{/each}}
          </div>
     </div>
</form>

{{log system}}
